* 
/*

Most of the notes in this file are just here for myself to reference
what I've learned through this project and to help with committing these
things to memory.

It also shows some of my thought processes as a very novice coder. This
may help me in the future if I ever decide to come back and identify bad
habits from where they start.

I'm very aware that learning to code without having direct feedback
from an instructor may lead to these bad habits which is why I'm being
diligent in taking steps to document my journey.

*/

{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color:#0E1C36;
    line-height: 1.5;
    
    margin: 0 auto;

 /* "margin: 0 auto" centered my website

  maybe I can shift most of these properties to a div which would allow
  the title more width to look nicer instead of stacking on multiple
  lines?

 */

}

h1 {
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 25px;
}

h2 {
    border-bottom: 2px solid #724408;
    margin: 30px;
    padding-bottom: 10px;
}

h3 {
    text-align: left;
    margin: 20px 50px;
}

img {
    width: 500px;
}

.recipe-card {
    border: 2px solid black;
    background-color:#F4ECD6;
    width: 500px;
}

.recipe-content, 
.recipe-content li {
    text-align: left;
    margin: 5px;
    line-height: 2;
}

.container {
    display:flex;
    justify-content: center;
}

/* I ran into some issues with styling buttons (mainly that they stack 
rather than sit on the same line) so I chose to convert them from an 
inline element to a block by creating a container with a display
property for them. Then I changed them from a tag to a class to make
styling easier.

I also learned how to get rid of the line at the bottom of links with
the property "text-decoration: none."

*/

.button {
    text-decoration: none;
    margin: 10px;
    padding: 15px;
    font-size: 24px;
    color: #071124;
    background-color: #9dafb4;
    border: 3px solid rgb(75, 78, 107);
}

/* 

Ways to make this site neater if this was a bigger project:

    Create a width property for buttons to make them a uniform size

    edit font-family, font-size, and colors to improve aesthetics

    remove any redundancies in CSS

    button tag vs button class use cases?
*/